<h1 class="text-center">Mis hobbies</h1>
<div class="d-flex justify-content-center mt-5">
  <div class="d-inline-flex">
    <div class="mx-5">
      <img src="../../assets/imagenes/musica.png" width="200dp" class="mb-5" href="/musica">
      <p class="text-center">Música</p>
    </div>
    <div class="mx-5">
      <img src="../../assets/imagenes/fotos.png" width="200dp" class="mb-5" routerLink="/fotos">
      <p class="text-center">Fotos</p>
    </div>
    <div class="mx-5">
      <img src="../../assets/imagenes/videos.png" width="200dp" class="mb-5" routerLink="/videos">
      <p class="text-center">Vídeos</p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>